In [9]:
# pip install pandas openpyxl
import pandas as pd

# Load the CSV data into a DataFrame
excel_file1 = "Electric_Vehicle_Population_Data.xlsx"
df1 = pd.read_excel(excel_file1, engine='openpyxl')

# Load the Excel data into a DataFrame
excel_file2 = "Elec_Alt_Fuel_charging_stations.xlsx"
df2 = pd.read_excel(excel_file2, engine='openpyxl')

In [18]:
# Print column names of df1 and df2
print("Columns of df1:", df1.columns)
print("Columns of df2:", df2.columns)

# Print the first few rows of df1 and df2
print("First few rows of df1:")
print(df1.head())

print("First few rows of df2:")
print(df2.head())

Columns of df1: Index(['City', 'State', 'Postal Code', 'Model Year', 'Make', 'Model',
       'Electric Vehicle Type', 'Electric Range', 'Latitude', 'Longitude'],
      dtype='object')
Columns of df2: Index(['Fuel Type Code', 'City', 'State', 'Postal Code',
       'Groups With Access Code', 'EV Network', 'EV Network Web', 'Latitude',
       'Longitude', 'Open Date', 'Country', 'Access Code',
       'Access Detail Code', 'Facility Type', 'EV Pricing',
       'EV On-Site Renewable Source', 'Restricted Access'],
      dtype='object')
First few rows of df1:
       City State  Postal Code  Model Year     Make           Model                   Electric Vehicle Type  Electric Range   Latitude   Longitude
0   Seattle    WA        98103        2020  HYUNDAI            KONA          Battery Electric Vehicle (BEV)             258  47.659185 -122.343010
1   Bothell    WA        98011        2022     JEEP  GRAND CHEROKEE  Plug-in Hybrid Electric Vehicle (PHEV)              25  47.762405 -122.205780
2    Yakima    WA        98908        2023     JEEP  GRAND CHEROKEE  Plug-in Hybrid Electric Vehicle (PHEV)              25  46.596562 -120.602720
3  Kirkland    WA        98034        2018    TESLA         MODEL 3          Battery Electric Vehicle (BEV)             215  47.711240 -122.209285
4   Olympia    WA        98501        2018      BMW              I3  Plug-in Hybrid Electric Vehicle (PHEV)              97  47.043535 -122.896920
First few rows of df2:
  Fuel Type Code        City State Postal Code            Groups With Access Code EV Network EV Network Web   Latitude  Longitude  Open Date Country Access Code  Access Detail Code       Facility Type EV Pricing EV On-Site Renewable Source  Restricted Access
0            CNG  Montgomery    AL       36107                            Private        NaN            NaN  32.367916 -86.267021 2010-12-01      US     private                 NaN  STANDALONE_STATION        NaN                         NaN                NaN
1            CNG     Atlanta    GA       30303     Public - Card key at all times        NaN            NaN  33.745843 -84.398837 1994-07-15      US      public          KEY_ALWAYS  STANDALONE_STATION        NaN                         NaN                0.0
2            CNG     Atlanta    GA       30324          Private - Government only        NaN            NaN  33.821911 -84.367461 1996-12-15      US     private          GOVERNMENT        FLEET_GARAGE        NaN                         NaN                NaN
3            CNG     Atlanta    GA       30336                            Private        NaN            NaN  33.760256 -84.543822 1997-01-01      US     private                 NaN  STANDALONE_STATION        NaN                         NaN                NaN
4            CNG  Fort Smith    AR       72903  Public - Credit card at all times        NaN            NaN  35.362213 -94.375338 1997-01-01      US      public  CREDIT_CARD_ALWAYS             UTILITY        NaN                         NaN                0.0

In [21]:
# Join the two DataFrames vertically
joined_df = pd.concat([df1, df2], axis=0, ignore_index=True)

# The 'ignore_index=True' ensures that the resulting DataFrame has a continuous index.

In [23]:
# Display the merged DataFrame
joined_df

              City State Postal Code  Model Year     Make           Model                   Electric Vehicle Type  Electric Range   Latitude   Longitude Fuel Type Code Groups With Access Code EV Network EV Network Web  Open Date Country Access Code Access Detail Code  Facility Type EV Pricing EV On-Site Renewable Source  Restricted Access
0          Seattle    WA       98103      2020.0  HYUNDAI            KONA          Battery Electric Vehicle (BEV)           258.0  47.659185 -122.343010            NaN                     NaN        NaN            NaN        NaT     NaN         NaN                NaN            NaN        NaN                         NaN                NaN
1          Bothell    WA       98011      2022.0     JEEP  GRAND CHEROKEE  Plug-in Hybrid Electric Vehicle (PHEV)            25.0  47.762405 -122.205780            NaN                     NaN        NaN            NaN        NaT     NaN         NaN                NaN            NaN        NaN                         NaN                NaN
2           Yakima    WA       98908      2023.0     JEEP  GRAND CHEROKEE  Plug-in Hybrid Electric Vehicle (PHEV)            25.0  46.596562 -120.602720            NaN                     NaN        NaN            NaN        NaT     NaN         NaN                NaN            NaN        NaN                         NaN                NaN
3         Kirkland    WA       98034      2018.0    TESLA         MODEL 3          Battery Electric Vehicle (BEV)           215.0  47.711240 -122.209285            NaN                     NaN        NaN            NaN        NaT     NaN         NaN                NaN            NaN        NaN                         NaN                NaN
4          Olympia    WA       98501      2018.0      BMW              I3  Plug-in Hybrid Electric Vehicle (PHEV)            97.0  47.043535 -122.896920            NaN                     NaN        NaN            NaN        NaT     NaN         NaN                NaN            NaN        NaN                         NaN                NaN
...            ...   ...         ...         ...      ...             ...                                     ...             ...        ...         ...            ...                     ...        ...            ...        ...     ...         ...                ...            ...        ...                         ...                ...
206578   Knoxville    AR       72845         NaN      NaN             NaN                                     NaN             NaN  35.347370  -93.333504            LPG                  Public        NaN            NaN 2022-07-12      US      public                NaN  FUEL_RESELLER        NaN                         NaN                0.0
206579       Ozark    AR       72949         NaN      NaN             NaN                                     NaN             NaN  35.467908  -93.832162            LPG                  Public        NaN            NaN 2022-07-12      US      public                NaN  FUEL_RESELLER        NaN                         NaN                0.0
206580  Hindsville    AR       72738         NaN      NaN             NaN                                     NaN             NaN  36.169618  -93.861854            LPG                  Public        NaN            NaN 2022-07-12      US      public                NaN  FUEL_RESELLER        NaN                         NaN                0.0
206581      Rogers    AR       72756         NaN      NaN             NaN                                     NaN             NaN  36.385437  -94.093038            LPG                  Public        NaN            NaN 2022-07-12      US      public                NaN  FUEL_RESELLER        NaN                         NaN                0.0
206582      Rogers    AR       72756         NaN      NaN             NaN                                     NaN             NaN  36.343410  -94.116180          56105                  Public        NaN            NaN 2022-07-12      US      public                NaN  FUEL_RESELLER        NaN                         NaN                0.0

[206583 rows x 22 columns]

In [31]:
# Specify the columns to replace NaN with 0
columns_to_replace = [
    'Fuel Type Code', 'City', 'State', 'Postal Code',
    'Groups With Access Code', 'EV Network', 'EV Network Web',
    'Latitude', 'Longitude', 'Open Date', 'Country', 'Access Code',
    'Access Detail Code', 'Facility Type', 'EV Pricing',
    'EV On-Site Renewable Source', 'Restricted Access', 
    'Model Year', 'Make', 'Model', 'Electric Vehicle Type', 'Electric Range'
]

# Replace NaN values with 0 in the specified columns
joined_df[columns_to_replace] = joined_df[columns_to_replace].fillna(0)
joined_df

              City State Postal Code  Model Year     Make           Model                   Electric Vehicle Type  Electric Range   Latitude   Longitude Fuel Type Code Groups With Access Code EV Network EV Network Web            Open Date Country Access Code Access Detail Code  Facility Type EV Pricing EV On-Site Renewable Source  Restricted Access
0          Seattle    WA       98103      2020.0  HYUNDAI            KONA          Battery Electric Vehicle (BEV)           258.0  47.659185 -122.343010              0                       0          0              0                    0       0           0                  0              0          0                           0                0.0
1          Bothell    WA       98011      2022.0     JEEP  GRAND CHEROKEE  Plug-in Hybrid Electric Vehicle (PHEV)            25.0  47.762405 -122.205780              0                       0          0              0                    0       0           0                  0              0          0                           0                0.0
2           Yakima    WA       98908      2023.0     JEEP  GRAND CHEROKEE  Plug-in Hybrid Electric Vehicle (PHEV)            25.0  46.596562 -120.602720              0                       0          0              0                    0       0           0                  0              0          0                           0                0.0
3         Kirkland    WA       98034      2018.0    TESLA         MODEL 3          Battery Electric Vehicle (BEV)           215.0  47.711240 -122.209285              0                       0          0              0                    0       0           0                  0              0          0                           0                0.0
4          Olympia    WA       98501      2018.0      BMW              I3  Plug-in Hybrid Electric Vehicle (PHEV)            97.0  47.043535 -122.896920              0                       0          0              0                    0       0           0                  0              0          0                           0                0.0
...            ...   ...         ...         ...      ...             ...                                     ...             ...        ...         ...            ...                     ...        ...            ...                  ...     ...         ...                ...            ...        ...                         ...                ...
206578   Knoxville    AR       72845         0.0        0               0                                       0             0.0  35.347370  -93.333504            LPG                  Public          0              0  2022-07-12 00:00:00      US      public                  0  FUEL_RESELLER          0                           0                0.0
206579       Ozark    AR       72949         0.0        0               0                                       0             0.0  35.467908  -93.832162            LPG                  Public          0              0  2022-07-12 00:00:00      US      public                  0  FUEL_RESELLER          0                           0                0.0
206580  Hindsville    AR       72738         0.0        0               0                                       0             0.0  36.169618  -93.861854            LPG                  Public          0              0  2022-07-12 00:00:00      US      public                  0  FUEL_RESELLER          0                           0                0.0
206581      Rogers    AR       72756         0.0        0               0                                       0             0.0  36.385437  -94.093038            LPG                  Public          0              0  2022-07-12 00:00:00      US      public                  0  FUEL_RESELLER          0                           0                0.0
206582      Rogers    AR       72756         0.0        0               0                                       0             0.0  36.343410  -94.116180          56105                  Public          0              0  2022-07-12 00:00:00      US      public                  0  FUEL_RESELLER          0                           0                0.0

[206583 rows x 22 columns]

In [33]:
# Remove the ".0" from the specified columns by casting them to integers
joined_df["Model Year"] = joined_df["Model Year"].astype(int)
joined_df["Electric Range"] = joined_df["Electric Range"].astype(int)
joined_df["Restricted Access"] = joined_df["Restricted Access"].astype(int)

# Set formatting options for the DataFrame
joined_df

              City State Postal Code  Model Year     Make           Model                   Electric Vehicle Type  Electric Range   Latitude   Longitude Fuel Type Code Groups With Access Code EV Network EV Network Web            Open Date Country Access Code Access Detail Code  Facility Type EV Pricing EV On-Site Renewable Source  Restricted Access
0          Seattle    WA       98103        2020  HYUNDAI            KONA          Battery Electric Vehicle (BEV)             258  47.659185 -122.343010              0                       0          0              0                    0       0           0                  0              0          0                           0                  0
1          Bothell    WA       98011        2022     JEEP  GRAND CHEROKEE  Plug-in Hybrid Electric Vehicle (PHEV)              25  47.762405 -122.205780              0                       0          0              0                    0       0           0                  0              0          0                           0                  0
2           Yakima    WA       98908        2023     JEEP  GRAND CHEROKEE  Plug-in Hybrid Electric Vehicle (PHEV)              25  46.596562 -120.602720              0                       0          0              0                    0       0           0                  0              0          0                           0                  0
3         Kirkland    WA       98034        2018    TESLA         MODEL 3          Battery Electric Vehicle (BEV)             215  47.711240 -122.209285              0                       0          0              0                    0       0           0                  0              0          0                           0                  0
4          Olympia    WA       98501        2018      BMW              I3  Plug-in Hybrid Electric Vehicle (PHEV)              97  47.043535 -122.896920              0                       0          0              0                    0       0           0                  0              0          0                           0                  0
...            ...   ...         ...         ...      ...             ...                                     ...             ...        ...         ...            ...                     ...        ...            ...                  ...     ...         ...                ...            ...        ...                         ...                ...
206578   Knoxville    AR       72845           0        0               0                                       0               0  35.347370  -93.333504            LPG                  Public          0              0  2022-07-12 00:00:00      US      public                  0  FUEL_RESELLER          0                           0                  0
206579       Ozark    AR       72949           0        0               0                                       0               0  35.467908  -93.832162            LPG                  Public          0              0  2022-07-12 00:00:00      US      public                  0  FUEL_RESELLER          0                           0                  0
206580  Hindsville    AR       72738           0        0               0                                       0               0  36.169618  -93.861854            LPG                  Public          0              0  2022-07-12 00:00:00      US      public                  0  FUEL_RESELLER          0                           0                  0
206581      Rogers    AR       72756           0        0               0                                       0               0  36.385437  -94.093038            LPG                  Public          0              0  2022-07-12 00:00:00      US      public                  0  FUEL_RESELLER          0                           0                  0
206582      Rogers    AR       72756           0        0               0                                       0               0  36.343410  -94.116180          56105                  Public          0              0  2022-07-12 00:00:00      US      public                  0  FUEL_RESELLER          0                           0                  0

[206583 rows x 22 columns]

In [34]:
# Export the DataFrame to a CSV file
joined_df.to_csv('merged_data1.csv', index=False)

# The resulting 'merged_data.csv' file can be easily imported into a PostgreSQL database.